@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<HeroClixWebApp.Models.CharacterTable>
@*<div class="container">
    <div class="row">
        <div id="topleft" class="col-md-2 col-lg-2 border">
            Character Select
        </div>
        <div  class="row">
            <div id="chselectbar" class="col-md-2 border"></div>
        </div>

        <div id="ch1" class="border chselectbox col-md-2 col-lg-2 grad ">Example Character</div>

    </div>
    <div id="fill" class="grad"></div>
    <div id="middlediv" class="row">

        <div id="charnamediv" class="col-md-5 col-lg-5">
            <h3>Example Character Name</h3>
        </div>
    </div>
</div>*@

@*<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.)
    </dd>
</dl>*@

@*@foreach (var item in Model)
    {
    <div class="row">
        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.CharacterId">
        <div id="characterButton" class="col-md-2 col-lg-2">
            @Html.DisplayFor(modelItem => item.Name)
            
            
        </div>
        </a>
    </div>
    }*@